.toggler-library {
color: #6E6E6E;
background: #FFF;
background: -moz-linear-gradient(top, #ffffff 0%, #f2f2f2 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFF), color-stop(100%,#F2F2F2));
background: -webkit-linear-gradient(top, #FFF 0%,#F2F2F2 100%);
background: -o-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
background: -ms-linear-gradient(top, #ffffff 0%,#f2f2f2 100%);
border: 1px solid #E7E7E7;
padding: 5px;
margin: 15px 0;
margin-right: 50px;
}